.bold {
  font-weight: 600;
}

.App {
  text-align: center;
  margin-bottom: 20px;
}

.header-menu {
  position: fixed;
  top: 0;
  background: rgba(255,255,255,0.92);
  width: 100%;
  padding-bottom: 15px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowns {
  display: flex;
  justify-content: center;
}

.dropdowns >div {
  padding: 0 10px 8px 10px;
}

select {
  max-width: 280px;
}

.dropdown-header {
  font-size: 1.1em;
  margin-right: 6px;
  font-weight: 300;
}

.App-title {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 18px;
}

.visualization {
  margin: 30px;
}

.mini-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 1px 0;
  border-style: dashed;
}

.mini-row:last-child {
  border-bottom: none;
}

/* .mini-row .mini-category {
  width: 25%
}

.mini-row .mini-graph {
  width: 35%;
}

.mini-row .mini-legend {
  width: 40%;
} */

.mini-row >div {
  width: 33.3%;
  min-width: 33.3%;
  padding: 0 5px;
}

.category-text {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.mini-legend .legend-contents {
  text-align: left;
  width: 98%;
}

.legend-row {
  cursor: pointer;
}
.legend-row:hover {
  opacity: 0.7;
}

.legend-contents {
  font-size: 14px;
}

.legend-contents svg {
  transform: translateY(2px);
}

.legend-contents span.legend-key {
  font-weight: 600;
  margin-left: 8px;
}

.legend-contents span.legend-percent {
  font-weight: 300;
  margin-left: 8px;
  font-size: 14px;
}

.legend-contents .number {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

td {
  padding: 1px 0;
}

.mini-graph circle {
  cursor: pointer;
}

.about div {
  font-weight: 300;
  margin: 3px 15px;
  font-size: 0.85em;
}

a, a:visited {
  color: #C74B36;
}
